body, html {
   height: 100%;
}
@font-face {
        font-family: "RussoOne-Regular"; 
        src: url("../fonts/RussoOne-Regular.eot"); 
       src:url("../fonts/RussoOne-Regular.woff") format("woff");
      src:  url("../fonts/RussoOne-Regular.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
}
.frame1 {
background-image: url(../img/fr1.png);
position: relative;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
text-align: center;
height: 100vh;
font-family: 'RussoOne-Regular';

}

.frame2 {
    background-image: url(../img/fr2.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
    z-index: -1;
}
.frame3 {
    background-image: url(../img/fr3.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
}
.frame4 {
    background-image: url(../img/fr4.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
}
.frame5 {
    background-image: url(../img/fr5.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
} 
.text {
    font-family: 'RussoOne-Regular';

}
.main-menu {
    font-size: 40px;
    position: absolute;
    font-family: 'RussoOne-Regular';
    color: #F9E6E6;
    -webkit-text-stroke-width:3px;
-webkit-text-stroke-color: black;

    
}
.menu {
  font-size: 32px;
  padding-right: 55px;
  position: absolute;
  font-family: "RussoOne-Regular";
  color: #F9E6E6;   
-webkit-text-stroke-width:3px;
-webkit-text-stroke-color: black;
 
}
.girl1 {
    padding-bottom: 700px;
    position: absolute;
    height: 5;
    padding-top: 200px;
}
.girl2 {
    position: absolute;
    padding-left: 2100px;
    padding-top: 70px;
}
.text1 {
font-size: 42px;
position: absolute;
padding-left: 1000px;
padding-top: 200px;
font-family: "RussoOne-Regular";
color: #F9E6E6;

}
.tree1 {
    position: absolute;
    padding-left: 2010px;
    padding-top: 250px;

}
 .tree2 {
     position: absolute;
     padding-top: 390px;

 }  
.container_slider_css{margin:50px auto;width:1000px;height:800px;position:absolute;padding-left:140px;}
.photo_slider_css{position:absolute;animation:round 16s infinite;opacity:0;width:100%}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}


}
      
    
   

